<html>
<head>
    <link rel="shortcut icon" href="/favicon.ico">
    <script src="//cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
    <script src="//cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
    <style>
        body { background: #000000; }
    </style>
    <meta charset="utf-8">
    {{ bokeh_css }}
    {{ bokeh_js }}
</head>
<body>
    {{script|safe}}
    {{div|safe}}
    <script>
        // function checkTime(){
        //     var today = new Date().getHours();
        //     console.log('hour is: '+(today));
        //     if (today >= 7 && today <= 17) {
        //         window.location.reload(1);
        //     } 
        // }
        setInterval(function(){
                    console.log('checking time')
                    // checkTIme();
                    window.location.reload(1);
                }, 900000);
    </script>
</body>
</html>